footer{
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
    background-color: $color-primario;
    div{
        h2{
            color: $color-terciario;
            font-size: 16px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: lighter;
            text-decoration: underline;
            left: 10px;

        }
    }
}