header{
    background-color: $color-primario;
    z-index: 10;
    nav{
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            li{
                margin: 5px;
                a{
                    text-decoration: none;
                    color: $color-terciario;
                }
            }
        }
    }
    section{
        display: flex;
        justify-content: space-between;
        img{
            height: 120px;
            width: 120px;
        }
    }

}