.hero{
    background-image: url(../img/fondofixeddos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
    color: $color-terciario;
    text-align: center;
    h2{
        font-size: 50px;
        border: 5px $color-terciario solid;
        display: inline-block;
        padding: 20px;
    }
    p{
        font-size: 20px;
    }
}

.bienvenidos{
    h2{
        text-align: center;
        margin-top: 10px;
        border: 2px solid $color-primario;
        background-color: $color-terciario;
        color: $color-primario;
    }
}

.contenedor-iframe{
    display: flex;
    justify-content: center;
}

main{
    section{
        h2{
            color: $color-terciario;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-weight: lighter;
            font-size: xx-large;
            font-style: oblique;
        }
        p{
            color: $color-terciario;
            padding: 20px;
            text-align: center;
        }
        ol{
            color: $color-terciario;
            margin: 30px;
            padding: 10px;
            margin-bottom: 40px;
            li{
                margin-bottom: 25px;
            }
        }
    }
}
.custom-img-catalogo {
    display: flex;
    justify-content: center;
}


.boton {
    text-decoration: none;
    color: $color-primario;
    background-color: $color-terciario;
    border: 1px $color-primario solid;
    border-radius: 10px;
    padding: 6px;
    width: 245px;
    margin: 0 auto;
}

.boton-dos {
    text-decoration: none;
    color: $color-primario;
    background-color: $color-terciario;
    border: 1px $color-primario solid;
    border-radius: 10px;
    padding: 6px;
    width: 245px;
    margin-top: 20px;
}

.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.transicion-productos{
    transition: 1s;
    width: 90%;
    margin: 2px;
    margin-bottom: 4px;
    flex-grow: 1;
}

.transicion-productos:hover{
    transform: scale(1.1);
}

.contenedor{
    width: 90%;
    margin-bottom: 20px;
    h3{
        font-size: 23px;
        text-align: center;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: oblique;
        font-weight: bold;
    }
}

.custom-img-inicio{
    border-radius: 8px;
    width: 100%;
}

.card-body{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
