
@media screen and (max-width: 680px) {
    .title-como-comprar {
        font-size: 35px;
        text-align: center;
        font-style: oblique;
    }
}

@media screen and (max-width: 770px){
    .hero h2{
        font-size: 42px
    }
    .hero p{
        font-size: 15px;
    }
    main section h2{
        font-size: 22px;
    }
    main section p{
        font-size: 15px;
    }
}

@media screen and (max-width: 1075px) {
    .contenedor{
        width: 100%;
        height: 450px;
        margin-bottom: 25px;
        h3{
            font-size: 22px;
            text-align: center;
            font-family:'Times New Roman', Times, serif;
            font-style: italic;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 991px) {
    .card {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .contenedor{
        width: 100%;
        height: 380px;
        margin-bottom: 25px;
        h3{
            font-size: 18px;
            text-align: center;
            font-family:'Times New Roman', Times, serif;
            font-style: italic;
            font-weight: bold;
        }
    }
    .custom-img-inicio{
        margin: auto;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 280px;
    }
    .custom-img-catalogo {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 280px;
}
    
}

@media screen and (max-width: 767px) {
    .contenedor{
        width: 100%;
        height: 350px;
        margin-bottom: 25px;
        h3{
            font-size: 16px;
            text-align: center;
            font-family:'Times New Roman', Times, serif;
            font-style: italic;
            font-weight: bold;
        }
    }
    .custom-img-catalogo {
        margin: auto;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 220px;
    }
    body header section a img {
        width: 100px;
        height: 100px;
    }

}

@media screen and (max-width: 577px) {
    .card {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .contenedor{
        width: 60%;
        height: 450px;
        margin-bottom: 25px;
        h3{
            font-size: 22px;
            text-align: center;
            font-family:'Times New Roman', Times, serif;
            font-style: italic;
            font-weight: bold;
        }
    }
    body header section a img{
        width: 80px;
        height: 80px;
    }
    header nav ul li a{
        font-size: 13px;
    }
    footer div h2{
        font-size: 14px;
    }
}
