@media screen and (max-width: 577px) {
    .card {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .contenedor{
        width: 60%;
        margin-bottom: 25px;
        h3{
            font-size: 18px;
            text-align: center;
            font-family:'Times New Roman', Times, serif;
            font-style: italic;
            font-weight: bold;
        }
    }

}

@media screen and (max-width: 680px) {
    .title-como-comprar {
        font-size: 35px;
        text-align: center;
        font-style: oblique;
    }
}

@media screen and (max-width: 770px){
    .hero h2{
        font-size: 42px
    }
    .hero p{
        font-size: 15px;
    }
    main section h2{
        font-size: 22px;
    }
    main section p{
        font-size: 15px;
    }
}