$color-primario: black;
$color-secundario: white;
$color-terciario: beige;


%flex{
    display: flex;
    justify-content: space-between;
}

@mixin flex ($flex, $justify, $align){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}
